{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ article.resume }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ article.user }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ article.image }}</td>
            </tr>
        </tbody>
    </table>

    <div class="liste">
        <h3>Liste des commentaires</h3>

        {% for comment in comments %}
            Posté par <i>{{comment.user}}</i> le {{comment.createdAt|date('d-m-Y')}} 
            à {{ comment.createdAt|date('H:i:s') }}
            <p>
                {{comment.contenu}}
            </p>
        {% endfor %}
    </div>
    <hr>
    {% if app.user %}
        
    <div class="form">
        {{ include('commentaire/_form.html.twig') }}
    </div>
    {% else %}
        Vous devez vous connecter pour ajouter un commentaire
    {% endif %}

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
